# Ignorar node_modules
node_modules/

# Ignorar arquivos de log
*.log

# Ignorar variáveis de ambiente
.env

# Ignorar cobertura de testes
coverage/

# Ignorar arquivos do sistema operacional
.DS_Store
